@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    padding: 0;
    background-color: black !important;
}

#buttonLink a {
    color: #0000FF !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#quizzes-page-headline, #quizzes-page-headline * {
    font-weight: 500 !important;
    color: #000 !important;
    font-style: normal !important;
}