@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black !important;
}

#buttonLink a {
    color: #0000FF !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#quizzes-page-headline, #quizzes-page-headline * {
    font-weight: 500 !important;
    color: #000 !important;
    font-style: normal !important;
}
.ids_text {
    font-family: 'Fjalla One', sans-serif;
}

  .container {
    @apply w-[100%] max-w-[800px] ml-auto mr-auto md:px-[32px] py-0 pb-[48px] px-0;
    

  }