@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black !important;
}

#buttonLink a {
    color: #0000FF !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#quizzes-page-headline, #quizzes-page-headline * {
    font-weight: 500 !important;
    color: #000 !important;
    font-style: normal !important;
}
.ids_text {
    font-family: 'Fjalla One', sans-serif;
}

.container {

    @apply w-[100%] max-w-[800px] ml-auto mr-auto md:px-[32px] py-0 pb-[48px] px-0;

}


@media screen and (min-width:600px) {

    .wrapper1 {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper2 {
        background: url('//d1t9jheyiyj1h6.cloudfront.net/themes/doribook_aa135296/img/arrows.png') no-repeat center top;
        padding-bottom: 0;
        min-height: 600px;
    }

    .wrapper3 {
        max-width: 530px;
        background: none;
    }
}